.bg-white {
  background-color: #ab7038 !important;
  color: #000 !important;
}

.navbar-title {
  background-color: #ab7038 !important;
  color: #fff !important;
}

body {
  background-color: #2b0d61 !important;
  font-family: "Fira Sans" !important;
}

.displayCard {
  width: 310px;
  margin-bottom:15px;
  list-style-type:none;
}

.displayCard a {
  color: black;
}

.displayCard-thumbnail {
  position: relative;
  top: 0;
  left: 0;
}

.touchy_image {
  width: 310px;
  height: 175px;
  object-fit: contain;
  background-color: white;
  opacity: 1;
  transition: all .4s ease-in-out;
  border: 3px solid white !important;
}

.touchy_text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.0;
  font-size: large;
  color: #fff;
  transition: all .4s ease-in-out;
  padding: 0 1em 0.5em 1em;
  line-height: 0.9em;
}

.touchy_text .name {
  font-size: large;
  line-height: normal;
}

.touchy_text .description {
  font-size: small;
}

.touchy_text .duration {
  font-size: small;
}

.hoverontouch--aktiv .touchy_image {
  transform-origin: center;
  transform: scale(1.3);
  opacity: 0.1;
  border: none;
}

.hoverontouch--aktiv .touchy_text {
  transform-origin: center;
  transform: scale(1.3);
  opacity: 1;
}

.scrolly {
  max-height: 700px;
  overflow-y: scroll;
}

@media screen and (max-width : 640px) {

  .displayCard {
    width: 100%;
    height: initial;
    margin-bottom: 5px;
  }

  .displayCard-thumbnail {
    width: 100%;
  }

  .displayCard .displayCard-thumbnail img {
    width: 100%;
    height: initial;
    object-fit: contain;
    overflow: hidden;
  }
}
