{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
{% endblock %}

{% block body %}

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row mx-1">
        <ul id="recordedVideosList" class="itemList d-flex flex-wrap justify-content-start">
            {% for video in randomRecorded %}
                <li class="displayCard mx-4 my-3">
                  <a class="hoverontouch" href="/play/{{video.id}}">
                    <div class="displayCard-thumbnail">
                      <img class="shadow lazy touchy_image" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                      <div class="card-title touchy_text">
                        <span class='name'>{{video.channelName}}</span><br />
                        <span class='description'>{{video.description}}</span>
                        <span class='duration'>({{video.length|hms_format}})</span>
                      </div>
                    </div>
                  </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}
