<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="manifest" href="/static/site.webmanifest">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans" />

  <link rel=stylesheet type=text/css href="/static/css/shared.css">
  <link rel=stylesheet type=text/css href="/static/css/slider.css">
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
  <link href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/dropzone/css/basic.min.css" />
  <link rel="stylesheet" href="/static/vendor/dropzone/css/dropzone.min.css" />
  <link rel="stylesheet" href="/static/vendor/easymde/css/easymde.min.css">
  <link rel=stylesheet type=text/css href="/static/css/hover-on-touch/hover-on-touch.css">
  <script src="/static/vendor/socketio/js/socket.io.js"></script>
  <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
  <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>
  <script src="/static/vendor/easymde/js/easymde.min.js"></script>
  <script src="/static/vendor/hover-on-touch/js/hoverontouch.js"></script>
  {% block head %}

  {% endblock %}

</head>

<body>

  <div class="main-navbar">
    <nav class="navbar  navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="/">
        <img src="{{sysSettings.systemLogo}}" width="70" class="d-inline-block align-top" alt="">
        <span class="navbar-title"><b>{{sysSettings.siteName}}</b></span>
      </a>
    </nav>
  </div>


  {% block body %}

  {% endblock %}

  <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
  <script src="/static/vendor/popper/js/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
  <script src="/static/vendor/dropzone/js/dropzone.min.js"></script>
  <script src="/static/vendor/listjs/js/list.min.js"></script>
  <script type="text/javascript">
    Dropzone.autoDiscover = false;
  </script>
  <script type="text/javascript">
    var HoverOnTouch = new HoverOnTouch();
  </script>
  {% block scripts %}

  {% endblock %}

  <script>
    var uploadmde = new EasyMDE({ element: document.getElementById("videoDescription") });
  </script>

  <script type="application/javascript">
    function s4() {
      return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }

    videofilename = s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();

    function videouploadsocket() {
      var conn_options = {
        'sync disconnect on unload': true
      };
      var socket = io();

      socket.on('disconnect', function () {
        socket.emit('cancelUpload', { data: videofilename });
      });
      window.addEventListener("beforeunload", function (e) {
        socket.emit('cancelUpload', { data: videofilename });
        return null;
      });
    }


    var thumbnaildropper = new Dropzone(
      '#thumbnaildropper', {
      acceptedFiles: 'image/png',
      previewTemplate: '<div></div>',
      clickable: '#thumbnailuploadbutton',
      addRemoveLinks: true,
      paramName: 'file',
      chunking: true,
      forceChunking: true,
      url: '/upload/video-files',
      maxFilesize: 5, // megabytes
      chunkSize: 1000000 // bytes
    }
    );
    thumbnaildropper.on('sending', function (file, xhr, formData) {
      formData.append('ospfilename', videofilename + '.png');
    });
    thumbnaildropper.on("uploadprogress", function (file, progress, bytesSent) {
      progress = Math.floor(bytesSent / file.size * 100);
      $('#thumbnailuploadprogress').width(progress + "%");
      document.getElementById('thumbnailuploadprogress').innerHTML = document.getElementById('thumbnailuploadprogress').innerHTML = '<b>' + progress + '%</b>';
    });
    thumbnaildropper.on("addedfile", function (file) {
      document.getElementById('thumbnailFilename').value = videofilename + '.png';
      document.getElementById('thumbnailFilenameDisplay').value = file.name;
      videouploadsocket();

    });
    thumbnaildropper.on("success", function (file) {
      document.getElementById('thumbnailuploadstatus').innerHTML = document.getElementById('thumbnailuploadstatus').innerHTML = ' <i class="fas fa-check">';
      document.getElementById('thumbnailuploadprogress').innerHTML = document.getElementById('thumbnailuploadprogress').innerHTML = 'Upload complete';

    });
    thumbnaildropper.on('error', function (file, response) {
      document.getElementById('thumbnailuploadstatus').innerHTML = document.getElementById('thumbnailuploadstatus').innerHTML = ' <i class="fas fa-exclamation-triangle"></i>';
      document.getElementById('thumbnailFilenameDisplay').value = 'Error: ' + response;
    });

    var videodropper = new Dropzone(
      '#videodropper', {
      acceptedFiles: 'video/mp4',
      createImageThumbnails: false,
      previewTemplate: '<div></div>',
      clickable: '#videouploadbutton',
      addRemoveLinks: true,
      paramName: 'file',
      chunking: true,
      forceChunking: true,
      url: '/upload/video-files',
      maxFilesize: 4096, // megabytes
      chunkSize: 1000000 // bytes
    }
    );
    videodropper.on('sending', function (file, xhr, formData) {
      formData.append('ospfilename', videofilename + '.mp4');
    });
    videodropper.on("uploadprogress", function (file, progress, bytesSent) {
      progress = Math.floor(bytesSent / file.size * 100);
      $('#videouploadprogress').width(progress + "%");
      document.getElementById('videouploadprogress').innerHTML = document.getElementById('videouploadprogress').innerHTML = '<b>' + progress + '%</b>';
    });
    videodropper.on("addedfile", function (file) {
      document.getElementById('videoFilename').value = videofilename + '.mp4';
      document.getElementById('videoFilenameDisplay').value = file.name;
      videouploadsocket();

    });
    videodropper.on("success", function (file) {
      $('#uploadbutton').removeAttr('disabled');
      document.getElementById('videouploadstatus').innerHTML = document.getElementById('videouploadstatus').innerHTML = '<i class="fas fa-check">';
      document.getElementById('videouploadprogress').innerHTML = document.getElementById('videouploadprogress').innerHTML = 'Upload complete';
    });
    videodropper.on('error', function (file, response) {
      document.getElementById('videouploadstatus').innerHTML = document.getElementById('videouploadstatus').innerHTML = '<i class="fas fa-exclamation-triangle"></i>';
      document.getElementById('videoFilenameDisplay').value = 'Error: ' + response;
    });
  </script>
  <script>
    $(document).ready(function () {
      $('.toast').toast('show');
      document.getElementById("uploadform").reset();
    });
  </script>

  <script>
    var lazyLoadInstance = new LazyLoad({
      elements_selector: ".lazy"
    });
  </script>

  <script>
    function canceluploads() {
      videodropper.removeAllFiles(true);
      thumbnaildropper.removeAllFiles(true);
      document.getElementById("uploadform").reset();
      document.getElementById('videouploadstatus').innerHTML = "";
      document.getElementById('videouploadprogress').innerHTML = document.getElementById('thumbnailuploadprogress').innerHTML = "";
      document.getElementById('thumbnailuploadstatus').innerHTML = "";
      document.getElementById('thumbnailuploadprogress').innerHTML = document.getElementById('thumbnailuploadprogress').innerHTML = "";
      $('#uploadbutton').attr('disabled');
      $('#thumbnailuploadprogress').width("0%");
      $('#videouploadprogress').width("0%");
    }
  </script>

  <script>
    $('.notificationDropdownMenu').click(function(e) {
      e.stopPropagation();
    });

    var notificationCountMobile = document.getElementById("notificationCountMobile");
    var notificationCountNav = document.getElementById("notificationCountNav");
    var notificationCountMenu = document.getElementById("notificationCountMenu");
    var notificationCount = {{notifications|count}};

    function clearNotification(notificationID) {
      var conn_options = {
        'sync disconnect on unload': true
      };
      var socket = io();

      var notification = document.getElementById('notification-' + notificationID);
      notification.parentNode.removeChild(notification);

      var newCount = notificationCount - 1;
      if (newCount <= 0) {
        var emptyNotificationBar = document.getElementById("notification-empty");

        notificationCountMobile.style.display = "none";
        notificationCountNav.style.display = "none";
        emptyNotificationBar.style.display = "block";
        newCount = 0;
      }

      notificationCountMobile.innerText = newCount;
      notificationCountNav.innerText = newCount;
      notificationCountMenu.innerText = newCount;
      notificationCount = notificationCount - 1;

      socket.emit('markNotificationAsRead', { data: notificationID });
    }

    function clearAllNotifications() {
      var ids = $('.notificationBody .notification-box').map(function(){
        return $(this).attr('id');
        }).get();
      ids.forEach(function (item, index) {
        if (item != 'notification-empty') {
          item = item.replace('notification-','');
          clearNotification(item);
        }
      });
    }

    function getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function hideDiv(divID) {
      $('#' + divID).removeClass("show");
      $('#' + divID).addClass("hide");
    }

    function createNewBSAlert(message,category) {
      var randomID = getRandomInt(1,9000);
      $('#toastDiv').append('<div class="toast fade show" id="toast-' + randomID + '" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="30000" style="width:250px;">' +
              '<div class="toast-header"><strong class="mr-auto"><span class="toast-box"> </span><span style="margin-left:5px;">' + category + '</span> </strong>' +
              '<button type="button" class="ml-2 mb-1 close" onclick="hideDiv(\'toast-' + randomID + '\')" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="toast-body">' + message + '</div></div>')
    }

  </script>


</body>


</html>
