{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - {{video.channelName}}</title>
<meta name="twitter:card" content="player" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{video.channelName}}" />
<meta property="og:type" content="video.other" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/videos/{{video.thumbnailLocation}}" />
<meta property="og:description" content="{{video.description}}" />
<meta property="og:video" content="{{request.url_root|normalize_urlroot}}{{streamURL}}" />
<meta property="og:video:type" content="video/mp4" />
<link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-12 low-z">
      <div class="row m-2">
        <div class="index-video-title"><b>{{video.channelName}}</b>
        </div>
      </div>
      <div class="player ml-2">
        <video id="video" class="shadow recordedStream video-js vjs-big-play-centered" poster="/videos/{{video.thumbnailLocation}}" autoplay controls preload="auto" data-setup='{"fluid": true}'>
          <source src="{{streamURL}}" type="video/mp4">
        </video>
      </div>
      <div class="row m-2">
        <div class="col-12 nopadding">
          <div class="videodescription">{% if video.description != None %}<p>{{video.description|markdown}}</p> {% else %}No Description Available {% endif %}</div>
          <div><b><i class="fas"></i>{{video.length|hms_format}}</b></div>
          <div><b><i class="fas"></i>{{video.topic|get_topicName}}</b></div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-sm-12 col-xs-12">
      <div class="row m-2 scrolly">
          <ul class="itemList list d-flex flex-wrap justify-content-start">
            {% for video in randomRecorded %}
            <li class="displayCard mx-4 my-3">
              <a class="hoverontouch" href="/play/{{video.id}}">
                <div class="displayCard-thumbnail">
                  <img class="shadow lazy touchy_image" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                  <div class="card-title touchy_text">
                    <span class='name'>{{video.channelName}}</span><br />
                    <span class='description'>{{video.description}}</span>
                    <span class='duration'>({{video.length|hms_format}})</span>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/vendor/videojs/js/video.js"></script>

<script>
  var player = videojs('video', { autoplay: true });
</script>

<script type="text/javascript" charset="utf-8">
  var conn_options = {
    'sync disconnect on unload': true
  };

  var socket = io();
</script>

{% if startTime != None %}
<script>
  player.currentTime({{startTime}});
  player.play();
</script>
{% endif %}


{% endblock %}
